body{
    font-family:Righteous;
      background-color: #3A6FFB;
      color: #F0F2AA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Righteous";
    text-align: center;
}
h1{
    font-size:40pt;
}
header {
    text-align:center;
}

#hero, footer {
    color: #F0F2AA;
    border: 2px solid;
    background-color: #6C7CA6;
    text-align:center;
    padding:10px;
}
/*Hero Section*/

#hero img {
    width:300px;
}

/*Bio Section*/

#bio {
    text-align:center;
    font-family:"Zilla Slab"
}

/*Song Section*/

#song {
    text-align:center;

    font-family: "Zilla Slab"
}

/*Hobbies Section*/

#hobbies{
    font-family: "Zilla Slab";
}

/*Gallery Section*/

#gallery {
    border: 2px solid #F0F2AA;
}

#gallery figure {
    text-align: center;
}

#gallery img {
    max-width:100%;
}

#gallery figcaption {
font-family: "Zilla Slab";
}





